@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
* {
  font-family: "Alumni Sans", sans-serif;
}

.paginas-show {
  display: none;
}

.seccion-anuncio {
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}
.seccion-anuncio a {
  text-decoration: none;
  color: white;
}

.contenedor-envios, .contenedor-cuotas, .contenedor-descuentos {
  background-color: black;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  animation: animation 11s linear infinite;
}
.contenedor-envios a, .contenedor-cuotas a, .contenedor-descuentos a {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.contenedor-envios a svg, .contenedor-cuotas a svg, .contenedor-descuentos a svg {
  margin-top: 1px;
  padding-top: 1px;
}
.contenedor-envios a p, .contenedor-cuotas a p, .contenedor-descuentos a p {
  margin-left: 10px;
  margin-top: 10%;
}

@keyframes animation {
  0% {
    left: 0%;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(100%);
  }
}
h1,
h2,
h3 {
  padding: 10px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.videoIndex {
  width: 100%;
}
.videoIndex iframe {
  width: 100%;
}

.contenedor-footer {
  display: none;
}

.newsletter {
  background-color: #c0a4fb;
}
.newsletter button {
  background-color: #c0a4fb;
  margin: 15px 5px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 10px;
}

.accordion-flush, a {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

#accordionFooter ul li {
  list-style: none;
}

.accordion-button {
  text-align: center;
  background-color: #c0a4fb;
  font-weight: bold;
}

.accordion-body {
  padding: 2px;
}
.accordion-body a {
  color: black;
  justify-content: center;
}
.accordion-body a svg {
  justify-content: center;
  margin-left: 40px;
  padding-bottom: 15px;
}

.breadcrumb-container {
  font-size: 1.5rem;
}

nav ol li a {
  text-decoration: none;
  color: #DAFF8E;
}

.colDesktop {
  display: none;
}

.org {
  margin-bottom: 20px;
}

.orden {
  width: 50%;
  text-align: center;
  border: solid;
  border-color: #b0b0b0;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}
.orden button {
  font-weight: bold;
}

.dropdown-menu {
  background: #c0a4fb;
  background: linear-gradient(180deg, #c0a4fb 48%, #ffbaff 82%);
}

#accordionTalles .accordion-body {
  background-color: #d6d6d6;
}

.filter {
  width: 50%;
  border: solid;
  border-color: #b0b0b0;
  border-width: 1px;
  text-align: center;
}
.filter button {
  font-weight: bold;
}

/* APLICAR / LIMPIAR FILTROS */
.botonesFiltros button {
  background: #c0a4fb;
  background: linear-gradient(180deg, #8c63e2 35%, #7c67aa 100%);
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 15px;
}

.colShow2 {
  display: none;
}

.articulos article {
  border: solid;
  border-color: #b0b0b0;
  border-width: 1px;
  border-radius: 7px;
}

/* NAV MOBILE */
nav {
  background-color: #c0a4fb;
}

.offcanvas {
  background: #c0a4fb;
  background: linear-gradient(180deg, rgba(192, 164, 251, 0.8862745098) 35%, #ffbaff 100%);
}

.offcanvas-header, .cuenta, a, .btn-close {
  align-items: center;
}

.btn-close {
  background-color: white;
}

a {
  display: flex;
  text-decoration: none;
}

.cuenta {
  margin-left: 20px;
}

.op-cuenta ul li, a ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav-actions button {
  display: inline-block;
  background-color: #c0a4fb;
  color: #DAFF8E;
  border: none;
}

main article {
  padding: 10px;
  justify-content: center;
  text-align: center;
}
main article button {
  background-color: #575757;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

/* MEDIA QUERY TABLET */
@media (width > 426px) {
  /* INDEX */
  /* NAV */
  .contenedor-nav .navbar-logo img {
    object-fit: cover;
    width: 110px;
  }
  .acciones .nav-actions {
    align-items: center;
    justify-content: center;
  }
  .acciones .nav-actions .fav svg {
    width: 23px;
    height: 23px;
  }
  .acciones .nav-actions .shop svg {
    width: 23px;
    height: 23px;
  }
  .acciones .nav-actions .profile svg {
    width: 30px;
    height: 30px;
  }
  /* PRODUCTOS HOME */
  .row .productos {
    display: flex;
    flex-wrap: wrap;
  }
  /* GRID DE PRODUCTOS EN PAGINAS  */
  .colShow1 {
    display: flex;
  }
  .colShow2 {
    display: none;
  }
  /* TERMINA GRID PRODUCTOS */
  .contenedor-footer {
    display: none;
  }
}
/* MEDIA DESKTOP */
@media (width > 769px) {
  /* INDEX */
  .row .productos {
    justify-content: space-around;
  }
  .paginas-show {
    display: flex;
    color: #DAFF8E;
  }
  .paginas-show .navbar-nav {
    flex-direction: row;
  }
  .paginas-show .navbar-nav .nav-item {
    font-size: 2rem;
    margin-left: 20px;
  }
  /* OCULTAR CANVAS PARA DESKTOP */
  .canvaShow {
    display: none;
  }
  /* BOTONERA DE ACCIONES DE LA NAV */
  .acciones .nav-actions {
    align-items: center;
    justify-content: center;
  }
  .acciones .nav-actions .fav svg {
    width: 23px;
    height: 23px;
  }
  .acciones .nav-actions .shop svg {
    width: 23px;
    height: 23px;
  }
  .acciones .nav-actions .profile svg {
    width: 23px;
    height: 23px;
  }
  /* OCULTAR NAV DE FILTROS PARA DESKTOP */
  .org .orden {
    display: none;
  }
  .filter {
    display: none;
  }
  /* FILTROS SIDEBAR */
  .container .row-select {
    background-color: #c0a4fb;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    color: white;
    font-size: 1.3rem;
    padding: 5px 15px;
  }
  .colDesktop {
    display: list-item;
    list-style: none;
  }
  .org {
    margin-bottom: 20px;
  }
  /* GRID DE PRODUCTOS */
  .colShow1 {
    display: flex;
  }
  .colShow2 {
    display: flex;
  }
  /* TERMINA GRID PRODUCTOS */
  .row .productos article {
    width: 220px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    align-items: center;
  }
  /* SECCION DE ANUNCIO DE ENVIOS / DESCUENTOS / CUOTAS */
  .seccion-anuncio {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor-descuentos {
    padding-top: 10px;
    margin-left: 30px;
  }
  .contenedor-cuotas {
    margin-left: 30px;
    padding-top: 10px;
  }
  /* FOOTER PARA MOBILE OCULTO */
  .footerMobileTablet {
    display: none;
  }
  .contenedor-footer {
    display: flex;
  }
  /* FOOTER PARA DESKTOP */
  footer {
    background-color: #aa92df;
    width: 100%;
  }
  footer div a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .contenedor-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .contenedor-footer .box-footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 20px;
  }
  .contenedor-footer .box-footer .box-footer-redes {
    padding-top: 50px;
  }
  .contenedor-footer .box-footer .box-footer-mail input {
    border: none;
    border-radius: 5px;
  }
  .contenedor-footer .box-footer .box-footer-mail button {
    background-color: #DAFF8E;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
