@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
* {
  font-family: "Alumni Sans", sans-serif;
}

.paginas-show {
  display: none;
}

.seccion-anuncio {
  background-color: black;
  width: 100%;
  font-size: 0.8rem;
  overflow-x: hidden;
}
.seccion-anuncio a {
  text-decoration: none;
  color: white;
}

.contenedor-envios, .contenedor-cuotas, .contenedor-descuentos {
  background-color: black;
  width: 100%;
  position: relative;
  align-items: center;
  margin-left: 10px;
  animation: animation 11s linear infinite;
}
.contenedor-envios a, .contenedor-cuotas a, .contenedor-descuentos a {
  display: flex;
  align-items: center;
}
.contenedor-envios a svg, .contenedor-cuotas a svg, .contenedor-descuentos a svg {
  margin-top: 1px;
  padding-top: 1px;
}
.contenedor-envios a p, .contenedor-cuotas a p, .contenedor-descuentos a p {
  margin-left: 10px;
  margin-bottom: 0px;
}

@keyframes animation {
  0% {
    left: 0%;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(100%);
  }
}
h1,
h2,
h3 {
  padding: 10px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.caminoTitle h2, .vistosTitle h2 {
  text-align: center;
  position: relative;
}
.caminoTitle h2 span, .vistosTitle h2 span {
  font-size: 1.1rem;
  font-family: "Playfair Display", serif;
  background: white;
  z-index: 100;
  position: relative;
  padding: 15px;
}
.caminoTitle h2:after, .vistosTitle h2:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  top: 50%;
  background: black;
  z-index: 50;
}

.publi-index h3 {
  text-align: center;
  position: relative;
}
.publi-index h3 span {
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
  background: white;
  z-index: 100;
  position: relative;
  padding: 15px;
}
.publi-index h3::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  top: 50%;
  background: black;
  z-index: 50;
}

.videoIndex {
  width: 100%;
}
.videoIndex iframe {
  width: 100%;
}

.contenedor-footer {
  display: none;
}

.newsletter {
  background-color: #c0a4fb;
}
.newsletter button {
  background-color: #575757;
  margin: 15px 5px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 10px;
}

.butMail {
  display: flex;
  justify-content: center;
}

.accordion-flush, a {
  text-align: center;
}

a {
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}

#accordionFooter ul li {
  list-style: none;
}

.accordion-button {
  text-align: center;
  background-color: #c0a4fb;
  font-weight: bold;
}

.accordion-body {
  padding: 2px;
}
.accordion-body a {
  color: black;
  justify-content: center;
}
.accordion-body a svg {
  justify-content: center;
  margin-left: 40px;
  padding-bottom: 15px;
}

.redesFooter {
  justify-content: center;
  display: flex;
}

.breadcrumb-container {
  font-size: 1.5rem;
}

nav ol li a {
  text-decoration: none;
  color: #DAFF8E;
}

.colDesktop {
  display: none;
}

.org {
  margin-bottom: 20px;
}

.orden {
  width: 50%;
  text-align: center;
  border: solid;
  border-color: #b0b0b0;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}
.orden ul li a {
  color: white;
}
.orden button {
  font-weight: bold;
}

.dropdown-menu {
  background: #c0a4fb;
  background: linear-gradient(180deg, #c0a4fb 48%, #ffbaff 82%);
}

#accordionTalles .accordion-body {
  background-color: #d6d6d6;
}

.filter {
  width: 50%;
  border: solid;
  border-color: #b0b0b0;
  border-width: 1px;
  text-align: center;
}
.filter button {
  font-weight: bold;
}

/* APLICAR / LIMPIAR FILTROS */
.botonesFiltros {
  display: flex;
  justify-content: center;
}
.botonesFiltros button {
  background: #c0a4fb;
  background: linear-gradient(180deg, #8c63e2 35%, #7c67aa 100%);
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 15px;
}

/* NAV MOBILE */
nav {
  background-color: #c0a4fb;
}

.offcanvas {
  background: #c0a4fb;
  background: linear-gradient(180deg, rgba(192, 164, 251, 0.8862745098) 35%, #ffbaff 100%);
}

.offcanvas-header, .cuenta, a, .btn-close {
  align-items: center;
}
.offcanvas-header .offcanvas-title, .cuenta .offcanvas-title, a .offcanvas-title, .btn-close .offcanvas-title {
  font-size: 2em;
}

.btn-close {
  background-color: white;
}

a {
  display: flex;
  text-decoration: none;
}

.cuenta {
  margin-left: 20px;
}

.op-cuenta ul li {
  list-style: none;
}
.op-cuenta ul li a {
  text-decoration: none;
  color: white;
}

.redesCanv {
  display: flex;
}

.nav-actions {
  display: flex;
}
.nav-actions button {
  display: inline-block;
  background-color: #c0a4fb;
  color: #DAFF8E;
  border: none;
}

.paginas-show ul li {
  margin-left: 5px;
}
.paginas-show ul li a {
  font-size: 2.5rem;
  padding: 1px 10px;
}
.paginas-show ul li a:hover {
  background-color: #c46cb5;
  border-radius: 5px;
}

.gifError {
  background-image: url(../img/error404/animation-error.gif);
  background-size: 100% 105%;
  background-repeat: no-repeat;
  color: white;
}
.gifError .text-error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.gifError .text-error h1 {
  margin-top: 5%;
}
.gifError .text-error p {
  padding: 0% 10%;
  text-align: center;
}
.gifError .text-error .backStart {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #DAFF8E;
  color: black;
}

main article {
  padding: 10px;
  justify-content: center;
  text-align: center;
}
main article .img-thumbnail {
  padding: 0%;
}
main article p {
  height: 40px;
}
main article a {
  justify-content: center;
}
main article button {
  background-color: #575757;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

.colShow2 {
  display: none;
}

.col .articulos article {
  border: solid;
  border-color: #b0b0b0;
  border-width: 1px;
  border-radius: 7px;
}
.col .articulos article p {
  height: 65px;
}

.slider-vistos {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
.slider-vistos .elemento {
  flex: 1 0 auto;
  width: 60%;
  margin: 5%;
}
.slider-vistos .elemento p {
  height: 60px;
}

.row .col {
  padding-right: 0%;
}

.container-content {
  justify-content: center;
  margin-left: 4%;
}
.container-content .row {
  width: 100%;
  justify-content: center;
}

/* MEDIA QUERY TABLET */
@media (width > 768px) {
  /* INDEX */
  /* NAV */
  .contenedor-nav .navbar-logo img {
    object-fit: cover;
    width: 110px;
  }
  .acciones .nav-actions {
    align-items: center;
    justify-content: center;
  }
  .acciones .nav-actions .fav svg {
    width: 30px;
    height: 30px;
  }
  .acciones .nav-actions .shop svg {
    width: 30px;
    height: 30px;
  }
  .acciones .nav-actions .profile svg {
    width: 38px;
    height: 38px;
  }
  /* PRODUCTOS INDEX */
  .row .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .row {
    justify-content: center;
  }
  /* GRID DE PRODUCTOS EN PAGINAS  */
  .colShow1 {
    display: list-item;
    list-style: none;
  }
  .colShow2 {
    display: list-item;
    list-style: none;
  }
  /* TERMINA GRID PRODUCTOS */
  .articulos article {
    height: 110%;
  }
  .articulos article p {
    height: 60px;
  }
  .slider-vistos {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .slider-vistos .elemento {
    flex: 1 0 auto;
    width: 30%;
  }
  .slider-vistos .elemento p {
    height: 60px;
  }
  .publi-index {
    display: flex;
    align-items: center;
  }
  .publi-index h3 span {
    font-size: 1.1rem;
    padding: 2px;
  }
  .publi-index h3::after {
    height: 2px;
    left: 0px;
  }
  .publi-index .textoP {
    margin-left: 2%;
  }
  .publi-index .textVideo {
    font-size: 1rem;
    margin: 10px 70px;
  }
  .publi-index .videoIndex {
    margin-right: 12%;
    margin-left: 15%;
  }
  .publi-index .videoIndex iframe {
    width: 130%;
  }
  .contenedor-footer {
    display: none;
  }
  .gifError {
    height: 100vh;
  }
  .gifError .text-error h1 {
    margin: 10%;
  }
  .gifError .text-error p {
    font-size: 1.3em;
  }
  .gifError .text-error .backStart {
    margin-top: 100%;
  }
}
/* MEDIA DESKTOP */
@media (width > 1024px) {
  /* INDEX */
  .row .productos {
    justify-content: space-around;
  }
  .paginas-show {
    display: flex;
    color: #DAFF8E;
  }
  .paginas-show .navbar-nav {
    flex-direction: row;
  }
  .paginas-show .navbar-nav .nav-item {
    font-size: 2rem;
    margin-left: 20px;
  }
  /* OCULTAR CANVAS PARA DESKTOP */
  .canvaShow {
    display: none;
  }
  /* BOTONERA DE ACCIONES DE LA NAV */
  .acciones .nav-actions {
    align-items: center;
    justify-content: center;
  }
  .acciones .nav-actions .fav svg {
    width: 30px;
    height: 30px;
  }
  .acciones .nav-actions .shop svg {
    width: 30px;
    height: 30px;
  }
  .acciones .nav-actions .profile svg {
    width: 37px;
    height: 38px;
  }
  .caminoTitle, .vistosTitle {
    padding: 30px;
  }
  .caminoTitle h2 span, .vistosTitle h2 span {
    font-size: 2rem;
    background: white;
    padding: 5px;
  }
  .caminoTitle h2:after, .vistosTitle h2:after {
    content: "";
    width: 60%;
    height: 2px;
    left: 20%;
    top: 50%;
    background: black;
    z-index: 50;
  }
  .slider-vistos {
    display: flex;
  }
  .slider-vistos .elemento {
    width: 10%;
    margin: 0%;
  }
  .publi-index .textoP {
    width: 60%;
    margin-left: 5%;
  }
  .publi-index .textoP h3 {
    font-size: 1.8rem;
  }
  .publi-index .textoP .textVideo {
    font-size: 1.2rem;
  }
  .publi-index .videoIndex {
    width: 40%;
    justify-content: end;
  }
  .publi-index .videoIndex iframe {
    width: 100%;
  }
  .row {
    width: 100%;
  }
  .row .productos {
    flex-wrap: nowrap;
  }
  .row .productos article {
    width: 220px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    height: 380px;
    margin-left: 10px;
    align-items: center;
  }
  main article p {
    height: 65px;
  }
  .seccion-anuncio {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  .contenedor-descuentos {
    padding-top: 10px;
    margin-left: 30px;
  }
  .contenedor-cuotas {
    margin-left: 30px;
    padding-top: 10px;
  }
  /* OCULTAR NAV DE FILTROS EN DESKTOP */
  .org .orden {
    display: none;
  }
  .filter {
    display: none;
  }
  /* FILTROS SIDEBAR */
  .colDesktop select {
    background-color: #c0a4fb;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    color: white;
    font-size: 1.3rem;
    padding: 5px 15px;
  }
  .colDesktop {
    display: list-item;
    list-style: none;
  }
  #accordionTalles .accordion-body {
    font-size: 1.5em;
    background-color: #b0b0b0;
  }
  #accordionColor .accordion-body {
    font-size: 1.5em;
    background-color: #b0b0b0;
  }
  .org {
    margin-bottom: 20px;
  }
  .container-content {
    margin-left: 5%;
  }
  .colShow1 {
    display: list-item;
    list-style: none;
  }
  .colShow2 {
    display: list-item;
    list-style: none;
  }
  .botonesFiltrosSidebar {
    display: flex;
    justify-content: center;
  }
  .botonesFiltrosSidebar a {
    margin: 10px 5px;
  }
  .botonesFiltrosSidebar a button {
    background-color: #c0a4fb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
  /* FOOTER PARA MOBILE OCULTO */
  .footerMobileTablet {
    display: none;
  }
  .contenedor-footer {
    display: flex;
  }
  /* FOOTER PARA DESKTOP */
  footer {
    background-color: #c0a4fb;
    font-family: "Alumni Sans", sans-serif;
    width: 100%;
  }
  footer div p {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  footer div a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .contenedor-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .box-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
  }
  .redesIcons {
    display: flex;
  }
  .mail {
    margin-right: 4%;
  }
  .mail input {
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
  }
  .mail a {
    justify-content: center;
  }
  .mail a button {
    margin-left: 10px;
    border: none;
    border-radius: 7px;
    background-color: #DAFF8E;
  }
  .gifError {
    height: 120vh;
  }
  .gifError .text-error h1 {
    margin-top: 10%;
  }
  .gifError .text-error p {
    font-size: 1.5em;
    padding: 0% 25%;
  }
  .gifError .text-error a button {
    font-size: 1.5em;
    padding: 2px 10px;
  }
}

/*# sourceMappingURL=main.css.map */
