// ARTÍCULOS DEL INDEX
main {
  
      article{
          padding: 10px;
          justify-content: center;
          text-align: center;

            .img-thumbnail{
              padding: 0%;
            }
            p{
              height: 40px;
            }
        
            a{
              justify-content: center;
            }
            button{
                background-color: $buttonArtColor;
                border: none;
                border-radius: 5px;
                padding: 5px 15px;
            }
      }  
}

 
// PRODUCTOS PAGINAS
.colShow2{
    display: none;
  }
//   ARTÍCULOS DE PÁGINAS
.col{
  .articulos {
            article{
                    border: solid;
                    border-color: $borderColor;
                    border-width: 1px;
                    border-radius: 7px;
                    p{
                        height: 65px;
                    }
        }
  }
}
