// ARTÍCULOS DEL INDEX
main article{
    padding: 10px;
    justify-content: center;
    text-align: center;

    button{
        background-color: $buttonArtColor;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;

    }
}
 