*{
    font-family: $mainFont;
}

// OCULTAR MENU DE PÁGINAS PARA MOBILE
.paginas-show{
    display: none;
}


// SECCION DE ANUNCIO CON ANIMACION

.seccion-anuncio{
    background-color:$textColorB;
    width: 100%;
    overflow-x: hidden;
    font-size: 0.8rem;
    

        a{
            text-decoration: none;
            color:$textColorW;
        }   
}
.contenedor-envios{
    background-color:$textColorB;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    animation: animation 11s linear infinite;

        a{
            display: flex;
            align-items: center;
            overflow: hidden;

                svg{
                    margin-top: 1px;
                    padding-top: 1px;
                }

                p{
                    margin-left: 10px;
                    margin-bottom: 0px
                }
        }
}
.contenedor-descuentos{
    @extend .contenedor-envios;
}
.contenedor-cuotas{
    @extend .contenedor-envios;
}

@keyframes animation {
    0%{
        left: 0%;
        transform: translateX(0%);
    }
    
    100%{
        left: 100%;
        transform: translateX(100%);
    }
}
// TEMRMINA SECION DE ANUNCIOS CON ANIMACION

                                    // TITULOS
// TITULOS GENERAL
h1,
h2,
h3{
    padding: 10px;
    text-align: center;
    font-family: $titleFont;
}
// TITULO SECUNDARIO CAMINO INDEX
.caminoTitle{
    h2 {
        text-align: center;
        position:relative;
    
            span{
                font-size: 1.1rem;
                font-family: $titleFont;
                background:$textColorW;
                z-index:100;
                position:relative;
                padding:15px;
            }
      }
    
      h2:after  {
        content: '';
        @include sizing (100%, 2px);
        position: absolute;
        left:0px;
        top:50%;
        background:$textColorB;
        z-index:50;
      }  
}
// LOS MÁS VISTOS TITULO
.vistosTitle{
    @extend .caminoTitle;
}

// LINEAS DE TITULO DE PUBLICIDAD CON VIDEO DEL INDEX
.publi-index{
  h3 {
    text-align: center;
    position:relative;

        span{
            font-size: 0.9rem;
            font-family: $titleFont;
            background:$textColorW;
            z-index:100;
            position:relative;
            padding:15px;
        }
  }

  h3::after  {
    content: '';
    @include sizing (100%, 2px);
    position: absolute;
    left:0px;
    top:50%;
    background:$textColorB;
    z-index:50;
  }  
}

// RESOLUCION DE VIDEO
.videoIndex{
    width: 100%;
        iframe{
            width: 100%;
        }
}
                                // INICIA FOOTER PARA MOBILE

.contenedor-footer{
    display: none;
}

// NEWSLETTER
.newsletter{
    background-color: $mainColor;

        button{
            background-color: $buttonArtColor;
            margin: 15px 5px;
            padding: 5px 10px;
            color: $textColorW;
            border: none;
            border-radius: 10px;
        }
}

// OPCIONES DE FOOTER MOBILE
.accordion-flush{
    text-align: center;
}
    a{
        @extend .accordion-flush;
        font-size: 1.3rem;
        color: $textColorB;
        text-decoration: none;
    }

#accordionFooter ul li {
    list-style: none;
}

// TÍTULO DEL BOX
.accordion-button{
    text-align: center;
    background-color: $mainColor;
    font-weight: bold;
}

// INTERIOR ACCORDION
.accordion-body{
    padding: 2px;

    // SOCIAL MEDIA
    a{
        color: $textColorB;
        justify-content: center;
        svg{
            justify-content: center;
            margin-left: 40px;
            padding-bottom: 15px;
        }
    }
}

.redesFooter{
    justify-content: center;
    display: flex;
}

                            // SECCION DE PAGINAS

// INICIA BREADCRUMBS GENERAL
.breadcrumb-container{
    font-size: 1.5rem;
  }
  nav{
        ol{
            li{
                a{
                    text-decoration: none;
                    color: $secondaryColor;
                }                  
            } 
        } 
  } 

// TERMINA BREADCRUMBS

                    // INICIA PESTAÑA DE FILTROS PARA MOBILE
.colDesktop{
    display: none;
  }

.org{
margin-bottom: 20px;
}

    .orden{
        width: 50%;
        text-align: center;
        border: solid;
        border-color: $borderColor;
        border-width: 1px;
        display: flex;
        flex-direction: column;

            ul{
                li{
                    a{
                        color: $textColorW;                       
                    }
                }

            }
            button{
                font-weight: bold;
            }
    }

.dropdown-menu{
    background: $mainColor;
    background: $menuColor;
}

// TALLES
#accordionTalles{
    .accordion-body{
        background-color: $accordionColor;
    }
}

// FILTRAR POR
.filter{
    width: 50%;
    border: solid;
    border-color:$borderColor;
    border-width: 1px;
    text-align: center;

        button{
            font-weight: bold;
        }
  }

  /* APLICAR / LIMPIAR FILTROS */
  .botonesFiltros {

        button{
            background: $mainColor;
            background: $botonFilColor;
            color: $textColorW;
            border: none;
            border-radius: 3px;
            margin-left: 15px;
        }
  }

// TERMINA GENERAL