/* MEDIA DESKTOP */

@media (width > 1024px){

                                 /* INDEX */

.row{
    .productos{
        justify-content: space-around;
    }
}
// MENU DE PAGINAS PARA DESKTOP
.paginas-show{
    display: flex;
    color: $secondaryColor;

        .navbar-nav{
            flex-direction: row;

                    .nav-item{
                        font-size: 2rem;
                        margin-left: 20px;
                    }
        }
}
  /* OCULTAR CANVAS PARA DESKTOP */
  .canvaShow{
    display: none;
  }
/* BOTONERA DE ACCIONES DE LA NAV */
.acciones{
        .nav-actions{
            align-items: center;
            justify-content: center;

                    .fav{
                        svg{
                            @include sizing (23px, 23px)
                        }
                    }
                    .shop{
                        svg{
                            @include sizing (23px, 23px)
                        }
                    }
                    .profile{
                        svg{
                            @include sizing (23px, 23px)
                        }
                    }
        }
}

                               // TITULOS DEL INDEX
  
  // TITULO SECUNDARIO CAMINO INDEX
.caminoTitle{
  padding: 30px;
  h2 {
  
          span{
              font-size: 2rem;
              background:$textColorW;
              padding:5px;
          }
    }
  
    h2:after  {
      content: '';
      @include sizing  (60%, 2px);
      left:20%;
      top:50%;
      background:$textColorB;
      z-index:50;
    }  
}
// LOS MÁS VISTOS TITULO
.vistosTitle{
  @extend .caminoTitle;
}

  // INICIA PUBLICIDAD CON VIDEO
.publi-index{

    .textoP{
      width: 60%;
      margin-left: 5%;

                h3{
                  font-size: 1.8rem
                }
                .textVideo{
                  font-size: 1.2rem;
                }
    }
    .videoIndex{
      width: 40%;
      justify-content: end;
                
                iframe{
                  width: 100%;
                }
    }

}
// TERMINA PUBLICIDAD CON VIDEO

// INICIA SECCION DE ARTICULOS DEL INDEX
  .row{
    width: 100%;
    .productos{
      flex-wrap: nowrap;
        article{
            @include sizing (220px, 350px);
            display: flex;
            flex-wrap: wrap;
            height: 380px;
            margin-left: 10px;
            align-items: center;
        }
    }
  }

// SECCION DE ANUNCIO CON ANIMACION
.seccion-anuncio{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    }
    .contenedor-descuentos{
      padding-top: 10px;
      margin-left: 30px;
    }      
    .contenedor-cuotas{
      margin-left: 30px;
      padding-top: 10px;
    }
                                // PAGINAS GENERALES


/* OCULTAR NAV DE FILTROS EN DESKTOP */
.org {
  .orden{
    display: none;
  }  
}
  .filter{
    display: none;
  }

/* FILTROS SIDEBAR */
// .colDesktop=SIDEBAR DE FILTROS EN LAS PAGINAS PARA DESKTOP
.colDesktop{
  // SELECT=DROPDOWN DE ORDENAR POR
            select{
              background-color: $mainColor;
              border: none;
              border-radius: 3px;
              font-size: 1rem;
              color: $textColorW;
              font-size: 1.3rem;
              padding: 5px 15px;
            }
}
.colDesktop{
    display: list-item;
    list-style: none;
  }
// INICIA CUERPO DE FILTROS POR TALLE
#accordionTalles{
  .accordion-body{
    background-color: $borderColor;
  }
}
// INICIA CUERPO DE FILTROS POR COLOR
#accordionColor{
  .accordion-body{
    background-color: $borderColor;
  }
}
// TERMINA CUERPO DE FILTROS POR COLOR

.org{
margin-bottom: 20px;
}

// GRID DE PRODUCTOS DE PÁGINAS GENERALES
.colShow1{
    display: list-item;
    list-style: none;
  }
  .colShow2{
    display: list-item;
    list-style: none;
  }
// TERMINA GRID DE PRODUCTOS DE PAGINAS GENERALES

                    // FOOTER


  /* FOOTER PARA MOBILE OCULTO */
  .footerMobileTablet{
    display: none;
  }
  
  .contenedor-footer{
    display: flex;
  }

/* FOOTER PARA DESKTOP */
footer{
    background-color: $mainColor;
    font-family: $mainFont;
    width: 100%;

      div{

          p{
            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom: 10px;
          }

          a{
              color: $textColorB;
              text-decoration: none;
              font-size: 1.2rem;
          }
      }
  }

.contenedor-footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
    .box-footer{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 20px;
      }

.redesIcons{
  display: flex;
}

.mail{
  margin-right: 4%;

            input{
              border: none;
              border-radius: 7px;
              margin-bottom: 10px;
            }
            a{
              justify-content: center;

                    button{
                        margin-left: 10px;
                        border: none;
                        border-radius: 7px;
                        background-color: $secondaryColor
                  }  
            }

}
// TERMINA FOOTER PARA DESKTOP
}
// CIERRA MEDIA QUERY
