/* MEDIA DESKTOP */

@media (width > 769px){
    /* INDEX */
.row{
    .productos{
        justify-content: space-around;
    }
}
// MENU DEPAGINAS PARA DESKTOP
.paginas-show{
    display: flex;
    color: $secondaryColor;

        .navbar-nav{
            flex-direction: row;

                    .nav-item{
                        font-size: 2rem;
                        margin-left: 20px;
                    }
        }
}
  /* OCULTAR CANVAS PARA DESKTOP */
  .canvaShow{
    display: none;
  }
/* BOTONERA DE ACCIONES DE LA NAV */
.acciones{
        .nav-actions{
            align-items: center;
            justify-content: center;

                    .fav{
                        svg{
                            @include sizing (23px, 23px)
                        }
                    }
                    .shop{
                        svg{
                            @include sizing (23px, 23px)
                        }
                    }
                    .profile{
                        svg{
                            @include sizing (23px, 23px)
                        }
                    }
        }
}
/* OCULTAR NAV DE FILTROS PARA DESKTOP */
.org {
  .orden{
    display: none;
  }  
}
  .filter{
    display: none;
  }

/* FILTROS SIDEBAR */
.container{
    .row-select{
        background-color: $mainColor;
        border: none;
        border-radius: 3px;
        font-size: 1rem;
        color: $textColorW;
        font-size: 1.3rem;
        padding: 5px 15px;
    }
}
.colDesktop{
    display: list-item;
    list-style: none;
  }

.org{
margin-bottom: 20px;
}

/* GRID DE PRODUCTOS */
.colShow1{
    display: list-item;
    list-style: none;
  }
  .colShow2{
    display: list-item;
    list-style: none;
  }
  /* TERMINA GRID PRODUCTOS */

  .row{
    .productos{
        article{
            @include sizing (220px, 350px);
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            align-items: center;
        }
    }
  }
/* SECCION DE ANUNCIO DE ENVIOS / DESCUENTOS / CUOTAS */
.seccion-anuncio{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    }
    .contenedor-descuentos{
      padding-top: 10px;
      margin-left: 30px;
    }      
    .contenedor-cuotas{
      margin-left: 30px;
      padding-top: 10px;
    }

  /* FOOTER PARA MOBILE OCULTO */
  .footerMobileTablet{
    display: none;
  }
  
  .contenedor-footer{
    display: flex;
  }

/* FOOTER PARA DESKTOP */
footer{
    background-color: #aa92df;
    width: 100%;

        div{
            a{
                color: black;
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
  }

.contenedor-footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    .box-footer{
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin-left: 20px;

            .box-footer-redes{
                padding-top: 50px;
            }
            .box-footer-mail{
                                input{
                                    border: none;
                                    border-radius: 5px;
                                }
                                button{
                                    background-color: $secondaryColor;
                                    margin-top: 10px;
                                    border: none;
                                    border-radius: 5px;
                                }
            }
      }
}









}
