/* MEDIA QUERY TABLET */

@media (width > 768px) {
    /* INDEX */
  
    /* NAV */
  .contenedor-nav {

        .navbar-logo{
             
                img{
                    object-fit: cover;
                    width: 110px;
                }
        }
  }

//   AUMENTAR TAMAÑO DE BOTONERA DE ACCIONES DE LA NAV
.acciones{

        .nav-actions{
            align-items: center;
            justify-content: center;

                    .fav{
                        svg{
                            width: 23px;
                            height: 23px;
                        }
                    }

                    .shop{
                        svg{
                            width: 23px;
                            height: 23px;
                        }
                    }

                    .profile{
                            svg{
                                width: 30px;
                                height: 30px;
                            }
                    }

        }
}


  /* PRODUCTOS HOME */

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

  /* GRID DE PRODUCTOS EN PAGINAS  */

  .colShow1{
    display: list-item;
    list-style: none;
  }
  .colShow2{
    display: list-item;
    list-style: none;
  }
  
  /* TERMINA GRID PRODUCTOS */
  
  .contenedor-footer{
    display: none;
  }
  }