
/* MEDIA QUERY TABLET */

@media (width > 768px) {
    /* INDEX */
  
    /* NAV */
  .contenedor-nav {

        .navbar-logo{
             
                img{
                    object-fit: cover;
                    width: 110px;
                }
        }
  }

//   AUMENTAR TAMAÑO DE BOTONERA DE ACCIONES DE LA NAV
.acciones{

    .nav-actions{
        align-items: center;
        justify-content: center;

                .fav{
                    svg{
                        @include sizing (23px, 23px);
                    }
                }

                .shop{
                    svg{
                      @include sizing (23px, 23px);
                    }
                }

                .profile{
                        svg{
                          @include sizing (23px, 23px);
                        }
                }

    }
}


  /* PRODUCTOS INDEX */
.row{
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.container{
  .row{
    justify-content: center;
  }
}
  /* GRID DE PRODUCTOS EN PAGINAS  */

  .colShow1{
    display: list-item;
    list-style: none;
  }
  .colShow2{
    display: list-item;
    list-style: none;
  }
  
  /* TERMINA GRID PRODUCTOS */
  
// INICIA PRODUCTOS
.articulos {
    article{
      height: 110%;

        p{
          height: 60px;
        }
  }
}

// TERMINA PRODUCTOS

// LOS MÁS VISTOS SLIDER INDEX
.slider-vistos{
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;

      .elemento{
        flex: 1 0 auto;
        width: 30%;

            p{
              height: 60px;
            }
      }

}

// PUBLICIDAD CON VIDEO DEL INDEX
.publi-index{
  display: flex;
  align-items: center;

          h3 {
                span{
                    font-size: 1.1rem;
                    padding:2px;
                }
          }
          h3::after  {
            height:2px;
            left:0px;
          }  

          .textoP{
            margin-left: 2%;
          }
          .textVideo{
            font-size: 1rem;
            margin: 10px 70px;
          }
          .videoIndex{
            margin-right: 12%;
            margin-left: 15%;

                      iframe{
                        width: 130%;
                      }
          }
}

  // FOOTER, QUEDA EL DE MOBILE
  .contenedor-footer{
    display: none;
  }


// PAGINA DE ERROR 404
.gifError{
  height:100vh;

      .text-error{

              h1{
                margin: 10%;
              }         

              p{
                font-size: 1.3em;
              }
              .backStart{
                margin-top: 100%;
              }
      }
}










  }
  // TERMINA MEQIA QUERY