/* NAV MOBILE */
nav{
  background-color: $mainColor;
}

.offcanvas{
  background: $mainColor;
  background: $canvasColor;
}

  .offcanvas-header{
    align-items: center;

        .offcanvas-title{
          font-size: 2em
        }
  }

    .btn-close{
      @extend .offcanvas-header;
      background-color: $textColorW;
    }

    a{
      @extend .offcanvas-header;
      display: flex;
      text-decoration: none;
    }

    .cuenta{
      @extend .offcanvas-header;
      margin-left: 20px;

    }

.op-cuenta{
            ul{
              padding-left: 4%;

              li{
                list-style: none;
                 
                a{
                    text-decoration: none;
                    color: $textColorW;
                  }
              }               
            }
}

.container-redesCanvas{

    p{
      padding-left: 4%;
    }
}
.redesCanv{
  display: flex;
  padding-left: 2%;
}


// BOTONERA DE ACCIONES DE LA NAV MOBILE
.nav-actions{
  display: flex;

                  button{
                  display: inline-block;
                  background-color: $mainColor;
                  color: $secondaryColor;
                  border: none;
                  }                
}

// NAV DESKTOP
.paginas-show{
  ul{
    li{
      margin-left: 5px;
        a{
          font-size: 2.5rem;
          padding:1px 10px;

          &:hover{
            background-color: $hoverColor;
            border-radius: 5px;
          } 
        }
    }


  }

  
}