/* NAV MOBILE */
nav{
  background-color: $mainColor;
}

.offcanvas{
  background: $mainColor;
  background: $canvasColor;
}

  .offcanvas-header{
    align-items: center;
  }

    .btn-close{
      @extend .offcanvas-header;
      background-color: $textColorW;
    }

    a{
      @extend .offcanvas-header;
      display: flex;
      text-decoration: none;
    }

    .cuenta{
      @extend .offcanvas-header;
      margin-left: 20px;

    }

.op-cuenta{
            ul{
              li{
                list-style: none;
              }               
            }

}
a{
  @extend .op-cuenta;
  text-decoration: none;
  color: $textColorW;
}

// BOTONERA DE ACCIONES DE LA NAV MOBILE
.nav-actions{
              button{
              display: inline-block;
              background-color: $mainColor;
              color: $secondaryColor;
              border: none;
            }
}

