//colores
$mainColor: #c0a4fb;
$secondaryColor:#DAFF8E;
$canvasColor:linear-gradient(180deg, #c0a4fbe2 35%, #ffbaff 100%);
$textColorW:white;
$textColorB:black;
$buttonArtColor:#575757;
$borderColor:#b0b0b0;
$accordionColor:#d6d6d6;
$menuColor:linear-gradient(180deg, #c0a4fb 48%, #ffbaff 82%);
$botonFilColor:linear-gradient(180deg, #8c63e2 35%, #7c67aa 100%);

//text
$mainFont:'Alumni Sans', sans-serif;
